extends ../../template/layout.pug

block var
  include ../../includes/bbdd.pug
  - const id = fileName, title= `Zapatos de Baile Modelo ${productos[id].modelo} ${productos[id].decoracion} ${productos[id].color}`, metaDescription = `Venta de Zapatos Modelo ${productos[id].modelo} ${productos[id].decoracion} ${productos[id].color} para Bailes Latinos de Salsa y Bachata en Murcia. Compra el mejor Calzado a la mejor calidad / precio.`

block content
  include ../../includes/modelo.pug