include bbdd.pug
section#modelos.container
  .row
    .col-sm-12(data-showup)
      h2.title.h1.page-header Modelos
section#portfolio.container
  .row.justify-content-center
    each producto, slugProducto in productos
      a.col-6.col-sm-4.col-md-3(href=`/zapatos/${slugProducto}` data-showup)
        img.img-fluid(data-src=`/img/zapatos/${slugProducto}-lateral.jpg` alt=`zapatos-${slugProducto}-lateral`)
        h4.h5.font-weight-light
          | Modelo #{producto.modelo}
          br
          | #{`${producto.decoracion} ${producto.color}`}
        p= `${producto.precio} €`