-
  const modelos = require('./src/data/modelos.json')
  const arrayProductos = Object.keys(modelos.productos)
section#modelos.container.text-center
  h2.title.h1.page-header(data-showup) Modelos
  .row.justify-content-center
    each producto, slugProducto in modelos.productos
      a.product-link.col-6.col-sm-4.col-md-3.mb-1(href=`#zapatos-${slugProducto}` data-toggle='modal' data-showup)
        img.img-fluid(data-src=`/img/zapatos/${slugProducto}-lateral.jpg` alt=`zapatos-${slugProducto}-lateral` width='1024' height='1024')
        p.h5.font-weight-light.text-muted
          | Modelo #{producto.modelo}
          br
          | #{`${producto.decoracion} ${producto.color}`}
        p= `${producto.precio} €`
      include modelo.pug