- const pr = modelos.productos[slugProducto]

.modal.fade(id=`zapatos-${slugProducto}` role='dialog' aria-labelledby=`zapatos-${slugProducto}` aria-hidden='true')
  .modal-dialog.modal-xl.modal-dialog-centered
    .modal-content.text-left
      .modal-header
        h3.modal-title.h3.font-weight-light
          span.d-none Zapatos 
          span= `Modelo ${pr.modelo} ${pr.decoracion} ${pr.color}`
        button.close.pt-4(type='button' data-dismiss='modal' aria-label='Cerrar')
          span(aria-hidden='true') ×
      .modal-body
        .container-fluid.p-0
          .row
            .col-md-6
              .row.group-lightbox
                .col-12
                  a.d-block.mb-1(href=`/img/zapatos/${slugProducto}.jpg` data-lightbox=`zapatos-${slugProducto}`)
                    img.img-fluid(data-src=`/img/zapatos/${slugProducto}.jpg` alt=`zapatos-${slugProducto}` width='1024' height='1024')
                .col-4
                  a.d-block(href=`/img/zapatos/${slugProducto}-lateral.jpg` data-lightbox=`zapatos-${slugProducto}`)
                    img.img-fluid(data-src=`/img/zapatos/${slugProducto}-lateral.jpg` alt=`zapatos-${slugProducto}-lateral` width='1024' height='1024')
                .col-4
                  a.d-block(href=`/img/zapatos/${slugProducto}-alzado.jpg` data-lightbox=`zapatos-${slugProducto}`)
                    img.img-fluid(data-src=`/img/zapatos/${slugProducto}-alzado.jpg` alt=`zapatos-${slugProducto}-alzado` width='1024' height='1024')
                .col-4
                  a.d-block(href=`/img/zapatos/${slugProducto}-posterior.jpg` data-lightbox=`zapatos-${slugProducto}`)
                    img.img-fluid(data-src=`/img/zapatos/${slugProducto}-posterior.jpg` alt=`zapatos-${slugProducto}-posterior` width='1024' height='1024')
            .col-md-6
              .project-info.mt-3
                h2 Descripción
                p= modelos.descripciones[pr.modelo].descripcion
                h2 Diseño
                p= modelos.descripciones[pr.modelo].diseno
                h2 Materiales
                p= modelos.descripciones[pr.modelo].materiales
                h2 Tacón
                p= modelos.descripciones[pr.modelo].tacon
                h2 Color
                p= modelos.descripciones[pr.modelo].color
                if modelos.decoraciones[pr.modelo+'_'+pr.decoracion]
                  h2 Decoración
                  | !{modelos.decoraciones[pr.modelo+'_'+pr.decoracion]}
                h2 Precio
                p.h2= `${pr.precio} €`
                p
                  | Comprobar 
                  a(href='#tallas' data-toggle='modal') tallas
                  |  antes de realizar pedido
              .live-preview
                a.btn.btn-common.uppercase(href='#contacto' data-dismiss='modal') ✔ ¡Me los pido!
        //- section#portfolio.padding-top.padding-bottom
          .container
            .row.justify-content-center
              h2.col-12.title.text-center.page-header Zapatos relacionados
              each producto, slugProducto in productos
                if producto.modelo == pr.modelo
                  a.col-6.col-sm-4.col-md-3(href=`/zapatos/${slugProducto}`)
                    img.img-fluid(data-src=`/img/zapatos/${slugProducto}-lateral.jpg` alt=`zapatos-${slugProducto}-lateral` width='1024' height='1024')
                    h4.h5.font-weight-light
                      | Modelo #{producto.modelo}
                      br
                      | #{`${producto.decoracion} ${producto.color}`}
                    p= `${producto.precio} €`
      .modal-footer.d-flex.justify-content-between
        -
          let
            i = arrayProductos.indexOf(slugProducto),
            slugProductoPrev,
            slugProductoNext
          if (i >= 1) {
            slugProductoPrev = arrayProductos[i - 1]
          } else {
            slugProductoPrev = arrayProductos[arrayProductos.length - 1]
          }
          if (i < arrayProductos.length - 1) {
            slugProductoNext = arrayProductos[i + 1]
          } else {
            slugProductoNext = arrayProductos[0]
          }
        a.btn.btn-common(data-target=`#zapatos-${slugProductoPrev}` data-toggle='modal')
          span.font-weight-bold ‹
          span.d-none.d-sm-inline  Anterior
        button.btn.btn-common(type='button' data-dismiss='modal') ✖ Cerrar
        a.btn.btn-common(data-target=`#zapatos-${slugProductoNext}` data-toggle='modal')
          span.d-none.d-sm-inline Siguiente 
          span.font-weight-bold ›